body{
    background-color: grey;
}
table,th,td{
    border: 2px solid brown;
    border-collapse: collapse;
}
#a{
    color: rgb(189, 236, 148);
    background-color: rgb(153, 153, 240);
}
#b{
    color: rgb(9, 87, 87);
    background-color: aqua;
}