body{
    background-color: rgb(245, 196, 204);
}
table,th,td{
    border: 2px groove red;
    border-collapse: collapse;

}
table:hover{
    cursor: pointer;
}
.yes:hover{
    background-color: aqua;
}
.a:hover{
    background-color: beige;
}
.b:hover{
    background-color: yellow;
}
.c:hover{
    background-color: blue;
}