
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>
<body>
    <center>
        <table border="2px">WEBPAGE TABLE
            <tr id="a">
                <th>topic_name</th>
                <th>name</th>
                <th>url</th>
                <th>email</th>
            </tr>
            {% for WO in webpages %}
            <tr id="b">
                <td>{{WO.topic_name}}</td>
                <td>{{WO.name}}</td>
                <td>{{WO.url}}</td>
                <td>{{WO.email}}</td>
            </tr>
            {% endfor %}
        </table>

    </center>
</body>
</html>